a {
    font-size: inherit;
    color: #c2c1ff;
    text-decoration: inherit;
}

p {
    font-size: 1.25em;
}

b {
    color: aliceblue;
}

.heading {
    font-size: 2em;
    color: #5781e4;
}

.text-muted {
    font-size: 0.75em;
}

@media only screen and (max-width: 992px) {
    body {
        font-size: 0.6cm;
    }
}

#containerDiv {
    background-image: url('code_image-min.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#greetingDiv {
    height: 400px;
}

#textSection {
    background-color: #232323;
    border-top: solid;
    border-color: #5781e4;
}
